---
import FeatureCards from './FeatureCards.tsx';
import FeaturesHeader from './FeaturesHeader.tsx';
---

<section id="projects" aria-labelledby="features-title" class="relative min-h-screen overflow-hidden bg-black px-4 py-20 sm:px-6 md:py-28 lg:py-32">
  <div class="bg-noise pointer-events-none absolute inset-0 opacity-[0.15]"></div>
  <div class="relative z-10 mx-auto max-w-7xl">
    <FeaturesHeader client:visible />
    <FeatureCards client:visible />
  </div>
</section>
